<ion-app>

    <ion-menu menuId="left" side="start" >
        <ion-header>
            <ion-toolbar  class="user-profile">
    
              <ion-item margin-bottom>
                <ion-avatar slot="start" class="user-avatar">
                  <img src="{{printAvatarUrl()}}">
                </ion-avatar>
                <ion-label>
                  <ion-text color="medium">
                    <h1><strong>{{printUsername()}}</strong></h1>
                  </ion-text>
                  <!--
                  <ion-text color="secondary">
                    <h3>
                      São Paulo, Brazil
                    </h3>
                  </ion-text>
                  -->
                  <ion-menu-toggle  class="mto" auto-hide="false">
                    <a  [hidden]="isGuest" class="text08" tappable (click)="goToEditProgile()">
                      <ion-text color="medium">
                        <ion-icon name="contact"></ion-icon>
                        <strong>edit profile</strong>
                      </ion-text>
                    </a> 
                    <a [hidden]="!isGuest" class="text08" tappable (click)="register()">
                        <ion-text color="medium">
                          <ion-icon name="person-add"></ion-icon>
                          <strong> register</strong>
                        </ion-text>
                    </a>
  
                    <ion-text color="secondary"> | </ion-text> 
                    
                    <a [hidden]="isGuest" class="text08" tappable (click)="logout()">
                      <ion-text color="medium">
                        <ion-icon name="log-out"></ion-icon>
                        <strong>logout</strong>
                      </ion-text>
                    </a>
                    
                    <a [hidden]="!isGuest" class="text08" tappable (click)="login()">
                        <ion-text color="medium">
                          <ion-icon name="log-in"></ion-icon>
                          <strong> login</strong>
                        </ion-text>
                    </a>
                  </ion-menu-toggle>
                </ion-label>
              </ion-item>
    
            </ion-toolbar>
          </ion-header>
        <ion-content>
          <ion-list>
            <ion-item><h3>Menu</h3></ion-item>
            <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>



  <ion-split-pane disabled="{{!showRightMenu}}" when="md">
    


    <ion-menu  menuId="right"  style="--width: 300px;" side="end" type="push">
        <ion-header>
          <ion-toolbar>
            <ion-title>Properties</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
              <app-group-select></app-group-select>
              <app-event-search heading="Find Events"></app-event-search>
              <app-edge-edit></app-edge-edit>
        </ion-content>
    </ion-menu>
    

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
  
</ion-app>
