<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MLF Labs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>MLF Labs - BETA</p>

  <ion-button [routerDirection]="'root'" [routerLink]="'/list'" expand="block">Timeline</ion-button>
  <ion-button [routerDirection]="'root'" [routerLink]="'/graph'" expand="block">Graphs</ion-button>
  <ion-button [routerDirection]="'root'" [routerLink]="'/groups'" expand="block">Groups</ion-button>



  <ion-button [routerDirection]="'root'" [routerLink]="'/private/user'" expand="block">User</ion-button>
</ion-content>
 