<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="left" ></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Timeline
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="toggleMenu()">  
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
  
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-timeline (eventClicked)="onEventClicked($event)"
                  (eventUpdate)="onEventUpdate($event)"
                  (eventAdded)="onEventAdded($event)" 
                  [images]="images"
                  [groups]="visible_groups" ></app-timeline>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <app-graphs
                  
                  (newEdge)="onNewEdge($event)"
                  (edgeSelected)="onEdgeSelected($event)"
                  (nodeSelected)="onNodeSelected($event)"
                  (nodeDoubleClicked)="onNodeDoubleClicked($event)"></app-graphs>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>








    <!--
    <ion-item *ngIf="eventSelected" >
        <ion-card>
            <ion-card-header>
              {{eventItem.content}} {{printGroupById(eventItem.group)}}
              <ion-card-subtitle>{{printStartDate(eventItem)}} {{printEndDate(eventItem)}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{eventItem.note}}
            </ion-card-content>
            <ion-button (click)="onEditEventClick()" >Edit</ion-button>
        </ion-card>
    </ion-item>
    -->

    <!--
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-button (click)="redraw_graph([])">Clear</ion-button>
                  <ion-button (click)="redraw_graph(graph_nodes, true)">Fit</ion-button>
                  <ion-button (click)="addNodeConnection()">Add Connection</ion-button>
                  <ion-button (click)="graphNodeEdit()" *ngIf="selectedGraphItem">Edit</ion-button>
                  <ion-button (click)="graphNodeRemoveFromGraph()" *ngIf="selectedGraphItem">Remove from Graph</ion-button>
                  <ion-button (click)="graphNodeDelete()" *ngIf="selectedGraphItem">Permenately Delete</ion-button>
                </ion-card-header>
                <ion-card-content>
                  <div id="graph" #graph ></div>
                </ion-card-content>
              </ion-card>
          </ion-col>
          
          <ion-col>
              <ion-item>
                  <ion-card>
                      <ion-card-header>
                        <ion-card-subtitle>Add Item to Graph</ion-card-subtitle>
                      </ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-input  id="search"
                                            [(ngModel)]="search"
                                            debounce="300"
                                            clearInput="true"
                                            type="text" 
                                            (ionChange)="onSearchChange()"
                                            placeholder="Search"
                                            ></ion-input>
                            </ion-item>
            
                            <ion-list>
                                <ion-item (click)="searchItemSelected(item)" *ngFor="let item of searchItems">
                                  {{item.content}}
                                </ion-item>
                            </ion-list>
            
                      </ion-card-content>
                  </ion-card>
              </ion-item>
          </ion-col>
        </ion-row>
    </ion-grid>

    -->
    
    <!--
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item *ngIf="eventSelected" >
                <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>Edit Item</ion-card-subtitle>
                    </ion-card-header>
                      <ion-card-content>
                        <form (ngSubmit)="saveEvent()" #eventForm="ngForm">
                            <ion-item>
                                <ion-input  id="content"
                                            name="content"
                                            #content="ngModel"
                                            [(ngModel)]="eventItem.content" 
                                            type="text" 
                                            required
                                            placeholder="Title - Required"></ion-input>
                                <ion-label position="stacked" *ngIf="!content.valid && !content.pristine" color="danger">
                                    Title is required
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-input  id="start"
                                            name="start"
                                            #start="ngModel"
                                            [(ngModel)]="eventItem.start" 
                                            type="text" 
                                            required
                                            placeholder="Start Date - YYYY-MM-DD - Required"></ion-input>
                                
                                <ion-label position="stacked" *ngIf="!start.valid && !start.pristine" color="danger">
                                      Format:  YYYY-MM-DD, Required
                                </ion-label>
                            </ion-item>

                            <ion-item>
                                <ion-input  id="end"
                                            name="end"
                                            #email="ngModel"
                                            [(ngModel)]="eventItem.end" 
                                            type="text" 
                                            placeholder="End Date - YYYY-MM-DD - Optional"></ion-input>   
                            </ion-item>

                            <ion-item>
                                <ion-select 
                                    id="group"
                                    name="group"
                                    #group="ngModel"
                                    [(ngModel)]="eventItem.group" 
                                    ok-text="Select" 
                                    required
                                    cancel-text="Cancel"
                                    placeholder="Group - Required">
                                  <ion-select-option 
                                      *ngFor="let group of groups"
                                      value="{{group.id}}">{{group.content}}</ion-select-option>
                                </ion-select>
                                <ion-label position="stacked" *ngIf="!group.valid && !group.pristine" color="danger">
                                  Group - Required
                                </ion-label>
                                <ion-label position="stacked" color="secondary">
                                  Group - Required
                                </ion-label>   
                            </ion-item>
                            <ion-item>
                                <ion-input  id="subgroup"
                                            name="subgroup"
                                            #subgroup="ngModel"
                                            [(ngModel)]="eventItem.subgroup" 
                                            type="text" 
                                            placeholder="Sub-Group"></ion-input>
                                <ion-label position="stacked" color="secondary">
                                  Optional, group events into same sub-category
                                </ion-label>   
                            </ion-item>
                            <ion-item>
                                <ion-input  id="note"
                                            name="note"
                                            #note="ngModel"
                                            [(ngModel)]="eventItem.note" 
                                            type="text" 
                                            placeholder="Note"></ion-input>
                                <ion-label position="stacked" color="secondary">
                                  Optional, Write detail informaiton, and references here.
                                </ion-label>   
                            </ion-item>

                          <div padding text-center>
                            <ion-spinner slot="middle" name="dots" color="primary" *ngIf="isLoading" ></ion-spinner>
                            <ion-button type="submit" size="large" [disabled]="!eventForm.valid" expand="block">Save</ion-button>
                          </div>
                      </form>
                    </ion-card-content>
                </ion-card>
            </ion-item>
          </ion-col>
          <ion-col>
              <ion-item *ngIf="editingEdge" >
                  <ion-card>
                      <ion-card-header>
                        <ion-card-subtitle>Edit Connection</ion-card-subtitle>
                        From: {{edge_meta.from}} -- To: {{edge_meta.to}}
                      </ion-card-header>
                        <ion-card-content>
                          <form (ngSubmit)="onSubmitEdge()" #edgeForm="ngForm">
                              <ion-item>
                                  <ion-input  name="label"
                                              [(ngModel)]="edge.label" 
                                              type="text" 
                                              placeholder="Label"></ion-input>
                              </ion-item>
                              <ion-chip>
                                  <ion-label>Dashes: </ion-label>
                                  <ion-toggle 
                                    name="dashes"
                                    [(ngModel)]="edge.dashes"  
                                    color="secondary"></ion-toggle>
                              </ion-chip>
                              <ion-item>
                                  <ion-textarea 
                                    name="note"
                                    [(ngModel)]="edge.note" 
                                    placeholder="Notes - Best to include reference"></ion-textarea>
                              </ion-item>



                            <div padding text-center>
                               <ion-button type="submit" size="large" [disabled]="!edgeForm.valid" expand="block">Save</ion-button>
                               <ion-button type="submit" size="large" color="danger" expand="block">Remove</ion-button>
                            </div>
                        </form>
                      </ion-card-content>
                  </ion-card>
              </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
-->
    
<!--
  <ion-list>
      <ion-item *ngFor="let item of items">
        {{item.content}}-- {{item.start}}
        <div class="item-note">
          {{item.note}}
        </div>
        <div class="item-delete" slot="end">
          <ion-button (click)="removeItem(item)" shape="round" color="danger" fill="outline">Remove</ion-button>
        </div>
      </ion-item>
    </ion-list>
-->

